.text-box h3:first-of-type {
    color: pink; /* Пофарбуйте мене в рожевий колір */
  }
  
  #greycol {
    color: grey; /* Пофарбуйте мене в сірий колір */
  }
  
  .text-box div p {
    color: red; /* Пофарбуйте мене в червоний колір */
  }
  
  .text-box p:nth-of-type(4) {
    color: green; /* Пофарбуйте мене в зелений колір */
  }
  
  .text-box .yellow {
    color: yellow; /* Пофарбуйте мене в жовтий колір */
  }
  